# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Database execution files (Do not push local test data to GitHub!)
database/

# IDE specific files (VS Code, IntelliJ, Eclipse)
.vscode/
.idea/
*.iml
.project
.classpath
.settings/
.DS_Store